<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('general/head') %>
    <link rel="stylesheet" href="/stylesheets/board.css">
    <link rel="stylesheet" href="/stylesheets/result.css">
    <script src="/javascripts/colorfinder.js"></script>
    <script src="/javascripts/timer.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-5" style="font-weight: 700;">
        <%= title %>
      </h1>
      <div class="row mt-4">
        <div class="col-12 col-lg-3">
          <h2 class="text-center" style="font-weight: 700;">作者</h2>
          <h3 class="text-center mt-3">
            資科五 林瀚軒<br />
            歐德五 黃憶姿<br />
            會計一 周伯恩<br />
            會計一 余亞蓁<br />
            會計一 陳振瑋<br />
            會計一 林芷彤<br />
            會計一 陳致軒<br />
            會計一 陳姿妤
          </h3>
        </div>
        <div class="col-12 col-lg d-flex align-items-center justify-content-center">
          <div id="game-start-area">
            <p class="text-center">Test Your Color Vision</p>
            <button type="button" id="btn-start-game" class="btn btn-danger btn-lg px-5">Game Start</button>
          </div>
          <div id="board" class="lv1 d-none">
            <div class="d-block" style="background-color: #ffd84e;"></div>
            <div class="d-block" style="background-color: #ffd84e;"></div>
            <div class="d-block" style="background-color: #ffd84e;"></div>
            <div class="d-block" style="background-color: #ffd84e;"></div>
          </div>
          <div id="result" class="d-none p-3">
            <p class="text-center mb-0">Your color vision level is:</p>
            <h2 id="result-title" class="text-center mb-3" style="font-weight: 700;">蜜蜂</h2>
            <img id="result-img" class="rounded mx-auto d-block w-100" src="/images/game-results/0.jpg" alt="level-0">
            <h3 id="result-hint" class="text-center mt-3 px-lg-5">色盲，難以分清各種綠色植物。該看醫生囉！</h3>
            <button type="button" id="btn-back-home" class="btn btn-dark mx-auto mt-4 d-block px-5">Back to home</button>
          </div>
        </div>
        <div class="col-12 col-lg-3">
          <h2 id="text-curr-round" style="font-weight: 700;">ROUND 1</h2>
          <h2 id="timer" style="font-weight: 700;">60'00"</h2>
        </div>
      </div>
    </div>
    <%- include('general/foot') %>
  </body>
</html>
