@import 'utils/utils';

#board {
  width: 500px;
  height: 500px;
  background-color: $color-main;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;

  & div {
    cursor: pointer;
    float: left;
    border: 5px solid $color-main;
    border-radius: 10px;
  }

  &.lv1 div {
    width: 50%;
    height: 50%;
  }

  &.lv2 div {
    width: 33.33%;
    height: 33.33%;
  }

  &.lv3 div {
    width: 25%;
    height: 25%;
  }

  &.lv4 div {
    width: 20%;
    height: 20%;
  }

  &.lv5 div {
    width: 16.66%;
    height: 16.66%;
  }
  
  &.lv6 div {
    width: 14.28%;
    height: 14.28%;
  }

  &.lv7 div {
    width: 12.5%;
    height: 12.5%;
  }

  &.lv8 div {
    width: 11.11%;
    height: 11.11%;
  }

  &.lv9 div {
    width: 10%;
    height: 10%;
  }
}